{% extends "polls/base.html" %}

{% block title %}Question Detail{% endblock %}

{% block sidebar %}
    <ul>
        <li><a href="/polls/">Questions</a></li>
        {% if show_question_info %}
        <li class="current"><a href="/polls/{{ question.id }}/">Details Question {{ question.id }}</a></li>
        {% else %}
        <li class="current"><a href="/polls/{{ question.id }}/vote">Vote in Question {{ question.id }}</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
    {% if show_question_info %}
        <h1>Question: {{ question.question_text }}</h1>
        <h3>Available Choices:</h3>
        <ul>
            {% for choice in question.choice_set.all %}
                <li>{{ choice.choice_text }}</li>
            {% endfor %}
        </ul>
        <br><br>
    {% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>{{ question.question_text }}</h1></legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
        </fieldset>
        <input type="submit" value="Vote">
    </form>
{% endblock %}